<div class="row" ng-controller="DrugRequestCtrl">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong>Available Drug Requests</strong>
            </div>
            <div class="card-block" >
                <table class="table table-striped" >
                    <thead>
                    <tr>
                        <th>Drug Name</th>
                        <th>Requested Quantity</th>
                        <th>Available Quantity</th>
                        <th>Date</th>
                        <th>Status</th>

                        <th>Approve</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="row in drugRequests | filter:{status:'Pending'}">
                        <td>{{row.drugName}}</td>
                        <td>{{row.requestedQty}}</td>
                        <td>{{row.avaiableQty}}</td>
                        <td>{{row.requestedDate}}</td>
                        <td>{{row.status}}</td>
                        <td> <button type="button" class="btn btn-primary btn-sm" ng-click="approveRequests(row)">Approve</button></td>
                    </tr>
                        <!--<tr ng-repeat="row in drugRequests">
                            <td>{{row.requestID}}</td>
                            <td>{{row.drugID}}</td>
                            <td>{{row.requestID}}</td>
                            <td>{{row.drugName}}</td>
                            <td>{{row.requestedQuantity}}</td>
                            <td>{{row.requestedDate}}</td>
                            <td>
                                <input type="number" min="100" id="text-input" name="text-input" class="form-control"
                                       placeholder="100">
                            </td>
                            <td>
                                <div class="checkbox">
                                    <label for="checkbox1">
                                        <input type="checkbox" id="checkbox1" name="checkbox1" value="option1">
                                    </label>
                                </div>
                            </td>

                        </tr>-->
                    <tbody>

                </table>




            </div>
            <!-- Buttons-->

        </div>
    </div>
</div>

</div>