<div class="row" ng-controller="SupplierCtrl">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-edit"></i>Add New Supplier
                <div class="card-actions">
                    <a href="#" class="btn-minimize"><i class="icon-arrow-up"></i></a>
                </div>
            </div>
            <div class="card-block">


                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Add Supplier</strong>
                            </div>
                            <div class="card-block">
                                <form method="post" enctype="multipart/form-data" class="form-2orizontal" >

                                    <!-- Supplier Name : Text Field -->
                                    <div class="form-group row">
                                        <label class="col-md-3 form-control-label" for="text-input0">Supplier Name
                                            :</label>
                                        <div class="col-md-9">
                                            <input type="text" ng-model="Supplier.supplierName" id="text-input0"
                                                   name="text-input0" class="form-control" ng-required="true">
                                        </div>
                                    </div>

                                    <!-- Supplier ID : Text Field -->
                                    <div class="form-group row">
                                        <label class="col-md-3 form-control-label" for="text-input1">Supplier ID
                                            :</label>
                                        <div class="col-md-9">
                                            <input type="text" ng-model="Supplier.supplierId" id="text-input1"
                                                   name="text-input1" class="form-control" ng-required="true"
                                            >

                                        </div>
                                    </div>

                                    <!-- Email : Text Field -->
                                    <div class="form-group row">
                                        <label class="col-md-3 form-control-label" for="text-input2">Email
                                            :</label>
                                        <div class="col-md-9">
                                            <input type="email" ng-model="Supplier.email" id="text-input2"
                                                   name="text-input2" class="form-control" ng-required="true"
                                            >

                                        </div>
                                    </div>
                                    <!-- Drug Categories Supplied : Check Boxes -->
                                    <div class="card-block">
                                        <label>Drugs and Drug Categories
                                            Supplied:</label>
                                        <table class="table table-striped" id="dataTable">
                                            <thead>
                                            <tr>
                                                <th>Drug Name</th>
                                                <th>Drug Category</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tr ng-repeat="row in drugs | filter:searchText">
                                                <td>{{row.name}}</td>
                                                <td>{{row.category.name}}</td>
                                                <td><td> <input type="checkbox" ng-model="selected" ng-change="display(selected, row)"> </td>
                                            </tr>
                                            <tbody>

                                        </table>
                                        <ul class="pagination">
                                            <li class="page-item"><a class="page-link" href="#">Prev</a>

                                            </li>
                                            <li class="page-item active">
                                                <a class="page-link" href="#">1</a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">2</a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">3</a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">4</a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">Next</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="card-footer" >
                                        <button type="submit" class="btn btn-sm btn-primary"    ng-click="AddSupplier()"><i
                                                class="fa fa-dot-circle-o"></i>
                                            Add Supplier
                                        </button>
                                        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <!-- Buttons-->

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<!--<div class="modal fade " id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirm</h4>
            </div>
            <div class="card-block">
                <div class="form-group row">
                    <label class="col-md-7 form-control-label">Are You sure you want to Add the record?</label>
                </div>
            </div>
            <div class="card-footer" >
                <button type="submit" class="btn btn-sm btn-primary"  data-dismiss="modal"><i class="fa fa-dot-circle-o" ></i>
                    ADD
                </button>
                <button type="button"class="btn btn-sm btn-primary" data-dismiss="modal"><i class="fa fa-dot-circle-o" ></i>Close</button>
            </div>
        </div>
    </div>
</div>-->

