<div class="row" ng-controller="billCtrl">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-edit"></i>Despense History
                <div class="card-actions">
                    <a href="#" class="btn-minimize"><i class="icon-arrow-up"></i></a>
                </div>
            </div>
            <div class="card-block">



                        <div class="card-block">
                            <form action="" method="post" class="form-horizontal">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
                                    </span>
                                            <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Patient Name" ng-model="searchText.patient.name">
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>

                        <div class="card-block">
                            <table class="table table-bordered table-striped table-sm">
                                <thead>
                                <tr>
                                    <th onclick="sortTable(0)">Patient Name</th>
                                    <th>Precription Date</th>
                                    <th>Dispensed Date</th>
                                    <th>Total Price</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="bill in bills | filter:searchText">
                                    <td>{{bill.patient.name}}</td>
                                    <td>{{bill.prescription.date}}</td>
                                    <td>{{bill.date}}</td>
                                    <td>{{bill.netTotal}}</td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" ng-click="getBillById(bill)">View</button>
                                    </td>
                                </tbody>
                            </table>

                        </div>
                    </div>



            </div>
        </div>
    </div>
<!--    -->
<div class="modal fade " id="myModal" role="dialog" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Issue drugs</h4>
            </div>
            <div class="card-block">

                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-align-justify"></i> Prescription Detalis
                        </div>

                        <div class="card-block">

                            <table class="table table-bordered table-striped table-sm">
                                <thead>

                                <tr>
                                    <th>Drug Name</th>
                                    <th>Unit Price</th>
                                    <th>Dosage</th>
                                    <th>Frequency(per day)</th>
                                    <th>Time period</th>
                                    <th>Total Qty</th>
                                    <th>Total price</th>

                                </tr>
                                </thead>
                                <tbody>

                                <tr  ng-repeat="drug in bill[0].drugs">

                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-footer"  >



            </div>
        </div>
    </div>
</div>


<!--    -->
</div>