<footer class="app-footer">
    <a href="http://coreui.io"></a>Application Frameworks Project - SLIIT
    <span class="float-right">Powered by <a href="http://coreui.io">UniqCoders</a>
    </span>
</footer>
