<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.main"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-info">NEW</span></a>
            </li>
            <!--
            <li class="divider"></li>
            <li class="nav-title">
                UI Elements
            </li>
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.components')}">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.components')}" href="#"><i class="icon-puzzle"></i> Components</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.buttons"><i class="icon-puzzle"></i> Buttons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.social-buttons"><i class="icon-puzzle"></i> Social Buttons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.cards"><i class="icon-puzzle"></i> Cards</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.forms"><i class="icon-puzzle"></i> Forms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.switches"><i class="icon-puzzle"></i> Switches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.tables"><i class="icon-puzzle"></i> Tables</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.icons')}">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.icons')}" href="#"><i class="icon-star"></i> Icons</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.icons.fontawesome"><i class="icon-star"></i> Font Awesome</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.icons.simplelineicons"><i class="icon-star"></i> Simple Line Icons</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.widgets"><i class="icon-calculator"></i> Widgets <span class="badge badge-info">NEW</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.charts"><i class="icon-pie-chart"></i> Charts</a>
            </li>
            <li class="divider"></li>
            <li class="nav-title">
                Extras
            </li>
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.pages')}">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.pages')}" href="#"><i class="icon-star"></i> Pages</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="appSimple.login"><i class="icon-star"></i> Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="appSimple.register"><i class="icon-star"></i> Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="appSimple.404"><i class="icon-star"></i> Error 404</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="appSimple.500"><i class="icon-star"></i> Error 500</a>
                    </li>
                </ul>
            </li>
        -->

            <!-- --------------------------------------------------------------------------------------------------------->
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.charts"><i class="icon-pie-chart"></i> Drug Despence</a>
            </li>

            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.prescriptions')}">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.prescriptions')}" href="#"><i class="icon-star"></i> Prescriptions</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.prescriptions.add"><i class="icon-star"></i> Add Prescriptions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.prescriptions.view"><i class="icon-star"></i> View Prescriptions</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.stocks')}">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.stocks')}" href="#"><i class="icon-puzzle"></i>Stock Management</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.stocks.available-stocks"><i class="fa fa-circle"></i> Available Stocks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.stocks.view-drug-requests"><i class="fa fa-circle"></i> Drug Requests</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.stocks.add-new-batch"><i class="fa fa-circle"></i> Add Batch</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.stocks.place-orders"><i class="fa fa-circle"></i> Orders</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.stocks.reports"><i class="fa fa-circle"></i> Alerts</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.drugs')}">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.drugs')}" href="#"><i class="icon-puzzle"></i>Drug Management</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.drugs.add-drugs"><i class="fa fa-circle"></i>Drug Handling</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.drugs.add-drug-category"><i class="fa fa-circle"></i> Drug Category/Type</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.drugs.reports"><i class="fa fa-circle"></i> Reports</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.bills')}">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.bills')}" href="#"><i class="icon-puzzle"></i>Billing</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.bills.drug-dispense"><i class="fa fa-circle"></i> Drug Dispense</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.bills.drug-availability"><i class="fa fa-circle"></i> Drug Availability</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.bills.bills"><i class="fa fa-circle"></i> Bills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.bills.reports"><i class="fa fa-circle"></i> Reports</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.supplier')}">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.supplier')}" href="#"><i class="icon-puzzle"></i>Suppliers</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.suppliers.add-suppliers"><i class="fa fa-circle"></i> Add Suppliers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.suppliers.supplier-Information"><i class="fa fa-circle"></i> Supplier Information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.suppliers.reports"><i class="fa fa-circle"></i> Reports</a>
                    </li>
                </ul>
            </li>


        </ul>





    </nav>
</div>
